<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonymobile.chkbugreport.testapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Deadlock"></activity>
        <activity android:name="DeadlockWithWait"></activity>
        <activity android:name="AIDLDeadlock"></activity>
        <service android:name="AIDLDeadlockService" android:process=":ext1"></service>
        <activity android:name="HybridDeadlock"></activity>
        <service android:name="HybridDeadlockService" android:process=":ext2"></service>
    </application>

</manifest>